.profile {
    background: #fff;
    width: 20rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 4rem;
}


.avatar {
    width: 50%;  
}

.profile h3 {
    font-weight: 20px;
    color: rgb(136, 136, 136);
}

.profile b {
    margin-left: 0.3rem;
}

.icons {
    font-size: 2rem;
    padding: 1rem;
}

.icons a {
    
    margin: 0.5rem;
}